@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansItalic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansLight';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansLightItalic';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansSemiBold';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansSemiBoldItalic';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansExtraBold';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansExtraBoldItalic';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
